/*-----------------------UTILITY CLASSES---------------------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.web-app {
    height: 100vh;
}

.btn {
    border-radius: 30px;
    padding: 7px 30px;
}

.container {
    display: flex;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.gray {
    color: rgba(99, 99, 99, 1);
}

/*--------------------------HEADER-----------------------------*/
header {
    height: 7vh;
    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: end;
    align-items: center;

    background-color: rgba(8, 11, 18, 1);
}

.upgrade {
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    text-transform: uppercase;
}

/*-----------------------FIRST SECTION-------------------------*/
.side-bar {
    height: 100vh;
    width: 15%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.side-bar div figure {
    width: 60%;
    margin: 0 auto;
    margin-block: 10px;
}

.side-bar div:first-child figure img:first-child {
    display: none;
}

.menu {
    display: none;
}

.playlist {
    padding-left: 15px;
    line-height: 160%;
}

.creation {
    display: flex;
    align-items: center;
}

.fa-solid {
    font-size: 300%;
    padding-right: 10px;
}

/*-----------------------SECOND SECTION------------------------*/
.tracks {
    background-color: rgba(20, 25, 34, 1);
    height: 100vh;
    width: 85%;
    color: white;
}

.why {
    padding-block: 7vh;
}

.typology {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.when {
    width: calc((100% / 4) - (40px / 4));
}


/*--------------------------FOOTER-----------------------------*/
footer {
    height: 7vh;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;

    background-color: rgba(40, 40, 40, 1);
}


/* ------------------------------------------------------------*/
/* ----------------------MEDIA QUERIES-------------------------*/
/* ------------------------------------------------------------*/

@media screen and (min-width: 576px) {

/*-----------------------FIRST SECTION-------------------------*/
.side-bar {
    width: 30%;
}

.icons {
    display: flex;
    align-items: center;
}

.side-bar div:first-child figure {
    width: 90%;
}

.side-bar div figure {
    width: 15%;
}

.side-bar div span {
    width: 70%;
}

.side-bar div:first-child figure img:first-child {
    display: block;
}

.side-bar div:first-child figure img:last-child {
    display: none;
}

.menu {
    display: block;
}

/*-----------------------SECOND SECTION------------------------*/
.tracks {
    width: 70%;
}

}

@media screen and (min-width: 768px) {
/*-----------------------FIRST SECTION-------------------------*/
.side-bar {
    width: 25%;
}


/*-----------------------SECOND SECTION------------------------*/
.tracks {
    width: 75%;
}
}

@media screen and (min-width: 1200px) {
/*-----------------------FIRST SECTION-------------------------*/
.side-bar {
    width: 15%;
}

.side-bar div:first-child figure img:first-child {
    display: block;
    width: 80%;
}

/*-----------------------SECOND SECTION------------------------*/
.tracks {
    width: 85%;
}
}