/*-----------------------UTILITY CLASSES---------------------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.web-app {
    height: 100vh;
}

.btn {
    border-radius: 30px;
    padding: 7px 30px;
}

.container {
    display: flex;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.gray {
    color: rgba(99, 99, 99, 1);
}

.white:hover {
    color: white;
}

/*-----------HEADER---------------*/
header {
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: end;
    align-items: center;

    background-color: rgba(8, 11, 18, 0.7);
}

.upgrade {
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    text-transform: uppercase;
}

.upgrade:hover {
    padding: 10px 40px; 
}

/*------------FIRST SECTION--------------*/
.side-bar {
    width: 60px;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);

    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
}

.side-bar div figure {
    width: 35px;
    margin: 0 auto;
    margin-block: 10px;
}

.side-bar div figure svg  {
    width: 90%;
    margin: 0 auto;
    margin-block: 10px;
}

.side-bar div:first-child figure img:first-child {
    display: none;
}

.menu {
    display: none;
}

.playlist {
    flex-grow: 1;
    padding-left: 15px;
    line-height: 160%;
}

.playlist ul {
    overflow: auto;
}

.creation {
    display: flex;
    align-items: center;
}

.fa-solid {
    font-size: 300%;
    padding-right: 10px;
}

.settings {
    display: none;
}

.line-3 {
    margin: 0 auto;
    width: 90%;
}

.name {
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: rgba(128, 128, 128, 1);
}

/*-----------SECOND SECTION----------------*/
.tracks {
    background-color: rgba(20, 25, 34, 1);
    width: 100vh;
    padding-left: 60px;
    color: white;
    padding-block: 100px;
}

.typology {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/*-----SECOND DIV-----*/

.songs {
    overflow: auto;
    margin: 0 auto;
    width: 90%;
}

h3 {
    padding-block: 20px;
    font-size: 25px;
}

.songs-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.song-played {
    width: calc((100% / 2) - (20px / 2));

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding-top: 20px;
}

.song-played figure {
    position: relative;   
}

.btn-hver {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btn-hver:hover {
    display: block;
}


.background:hover {
    opacity: 0.5;
}


/*-----FOURTH DIV-----*/

.circle figure img {
    object-fit: cover;
    border-radius: 50%;
}

/*-----FOOTER-----*/
footer {
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 10px;

    background-color: rgba(40, 40, 40, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    flex-basis: calc(100% / 3);
}

.mini-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;

    display: none;
}

.mini-menu figure  {
    width: 10%;
}

.decoration:hover {
    text-decoration: underline;
    color: white;
}

footer > div:nth-child(2) ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer > div:nth-child(2) ul:first-child li i{
    font-size: 20px;
    color: white;
}

.play-button {
    color: white;
}

.play-button:hover i{
    font-size: 60px;
}

.number {
    font-size: 10px;
    color: white;
}

.line {
    width: 70%;
}

footer > div:nth-child(3) {
    display: none;
}


footer > div:nth-child(3) ul {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    color: white;
}

footer > div:nth-child(3) ul li {
    font-size: 30%;
}

.line-2 {
    width: 20%; 
}

/* ------------------------------------------------------------*/
/* ----------------------MEDIA QUERIES-------------------------*/
/* ------------------------------------------------------------*/

@media screen and (min-width: 576px) {

/*---------FIRST SECTION------------*/
.side-bar {
    width: 200px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-bar:first-child div:first-child figure {
    width: 90%;
}

.side-bar div span {
    width: 70%;
}


.side-bar div figure svg  {
    width: 25%;
    margin: 0 auto;
    margin-block: 10px;
}

.side-bar div:first-child figure img:first-child {
    display: block;
}

.side-bar div:first-child figure img:last-child {
    display: none;
}

.menu {
    display: block;
}

.settings {
    display: block;
}

/*-------------SECOND SECTION-------------*/
.tracks {
    width: 100%;
    padding-left: 200px;
}

.typology {
    gap: 20px;
}

/*-----------FOOTER-------------*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-menu {
    display: block;
    display: flex;
}

footer > div:nth-child(3) {
    display: block;
}
}

@media screen and (min-width: 768px) {
/*-----------------------SECOND SECTION------------------------*/
/*-----SECOND DIV-----*/
.songs-top {
    justify-content: start;
    column-gap: 20px;
}

.song-played {
width: calc(100% / 4 - 20px);
}


/*-----------------------SECOND SECTION------------------------*/

}

@media screen and (min-width: 1200px) {
/*-----------------------FIRST SECTION-------------------------*/

.side-bar div:first-child figure img:first-child {
    display: block;
    width: 80%;
}

/*-----------------------SECOND SECTION------------------------*/
/*-----SECOND DIV-----*/

.song-played {
    width: calc(100% / 6 - 20px);
    }
}


