/*-----------------------UTILITY CLASSES---------------------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lime;
}

html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.general {
    height: 100vh;
}

.btn {
    border-radius: 30px;
    padding: 7px 30px;
}
/*--------------------------HEADER-----------------------------*/
header {
    height: 7vh;
    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: end;
    align-items: center;

    background-color: rgba(8, 11, 18, 1);
}

.upgrade {
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    text-transform: uppercase;
}

/*-----------------------FIRST SECTION-------------------------*/



/*--------------------------FOOTER-----------------------------*/
footer {
    height: 7vh;
    position: fixed;
    width: 100%;
    bottom: 0;

    background-color: rgba(40, 40, 40, 1);
}


/* ------------------------------------------------------------*/
/* ----------------------MEDIA QUERIES-------------------------*/
/* ------------------------------------------------------------*/

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    
}